body {
  background-color: #000;
  font: 14px/1.8 Verdana, sans-serif;
  margin: 0 auto;
  max-width: 1000px;
}

header {
  background: url("../images/sthelens02.jpg") no-repeat bottom;
  color: #eee;
  margin: 0;
  padding: 0;
}

main {
  background: url("../images/sthelens01.jpg") no-repeat fixed;
}

/* text */
h1 {
  margin: 0;
  padding: 35px;
  text-align: center;
}

h2 {
  font-size: 1.6em;
  margin: 0;
  padding-bottom: 5px;
}

h3 {
  font-size: 1.3em;
  margin: 0;
  padding: 0;
}

/* alignment */
.left {
  grid-column: 1 / 1;
}

.center {
  grid-column: 1 / span 2;
  justify-self: center;
}

.right {
  grid-column: 2 / 2;
}

.spacing {
  background: rgb(220, 220, 220, .2);
  border: 1px solid #333;
  border-radius: 8px;
  margin: 5px 15px;
  padding: 5px 10px;
}

.invisible {
  display: none;
}

/* form */
#form {
  margin: auto;
  max-width: 800px;
}

.flex-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 30px 0;
}

.form-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

label {
  align-self: center;
  font-size: 1.15em;
  margin: 0 5px;
}

.box {
  border: 1px solid #000;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 10px 10px 10px 0 ;
  padding: 8px;
}

#description {
  width: 120px;
}

#zip, #current-temp {
  width: 55px;
}

#feelings {
  height: 65px;
  width: 300px;
}

button {
  background: linear-gradient(rgb(48, 41, 251, 0.75), rgb(181, 218, 255), rgb(48, 41, 251, 0.75));
  color: #222;
  font-size: 1em;
  font-weight: bold;
}

button:hover {
  background: linear-gradient(rgb(181, 218, 255), rgb(48, 41, 251, 0.75), rgb(181, 218, 255));
  color: #eee;
}

/* entry holder */
#entry-holder {
  margin: auto;
  max-width: 800px;
  padding: 20px 0;
}

.grid {
  display: grid;
  grid: auto / 40% 60%;
}

.locale-p {
  display: flex;
  justify-content: center;
  font-size: 1.25em;
  margin: 0;
}

.locale-span {
  margin: 0 20px;
}

#outside-div {
  display: grid;
  grid: auto / 60% 40%;
}

#inside-div {
  display: grid;
  grid: auto auto auto / 80% auto;
}

.results-p {
  font-size: 1.15em;
  grid-column: 1 / 1;
  margin: 10px 0;
}

.results-icon {
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
  margin-left: 10px;
}

footer {
  background: url("../images/sky01.jpg") no-repeat;
}

.copy {
  color: #eee;
  margin: 0;
  padding: 10px;
}
