body {
  background-color: #000;
  color: #222;
  font: 14px/1.8 Verdana, sans-serif;
  margin: 0 auto;
  max-width: 1000px;
}

header {
  margin: 0;
  padding: 0;
}

.wrapper {
  background: url("../images/sthelens03.jpg") no-repeat;
  background-position: bottom;
}

/* text */
h1 {
  font-size: 2em;
  margin: 0;
  padding: 20px;
  text-align: center;
}

h2 {
  font-size: 1.6em;
  margin: 0;
  padding-bottom: 5px;
}

h3 {
  font-size: 1.3em;
  margin: 0;
  padding: 0;
}

/* alignment */
.left {
  grid-column: 1 / 1;
}

.center {
  grid-column: 1 / span 2;
  justify-self: center;
}

.right {
  grid-column: 2 / 2;
}

.top {
  display: flex;
}

.middle {
  display: flex;
}

.bottom {
  display: flex;
}

.spacing {
  margin: 5px 15px;
}

.invisible {
  display: none;
}

/* form */
#form {
  margin: auto;
  max-width: 800px;
}

.flex-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.form-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

label {
  align-self: center;
  font-size: 1.15em;
  margin: 0 5px;
}

.box {
  background-color: #eee;
  border: 1px solid #000;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 10px;
  padding: 8px;
}

#description {
  width: 120px;
}

#zip, #current-temp {
  width: 55px;
}

#feelings {
  height: 65px;
  width: 300px;
}

button {
  background: linear-gradient(rgb(48, 41, 251, 0.75), rgb(181, 218, 255), rgb(48, 41, 251, 0.75));
  color: #222;
  font-size: 1em;
  font-weight: bold;
}

button:hover {
  background: linear-gradient(rgb(181, 218, 255), rgb(48, 41, 251, 0.75), rgb(181, 218, 255));
  color: #eee;
}

#show-form {
  height: 65px;
}

/* entry holder */
#entry-holder {
  margin: auto;
  max-width: 800px;
  padding: 20px 0;
}

.grid {
  display: grid;
  grid: auto / 40% 60%;
}

.locale-p {
  display: flex;
  justify-content: center;
  font-size: 1.25em;
  margin: 0;
}

.locale-span {
  margin: 0 20px;
}

#outside-div {
  background: rgb(230, 230, 230, .1);
  border: 1px solid #333;
  border-radius: 8px;
  display: grid;
  grid: auto / 60% 40%;
  padding: 5px;
}

#inside-div {
  background: rgb(230, 230, 230, .1);
  border: 1px solid #333;
  border-radius: 8px;
  display: grid;
  grid: auto auto auto / 75% auto;
  padding: 5px;
}

.results-p {
  font-size: 1.15em;
  grid-column: 1 / 1;
  margin: 10px 0;
}

.results-icon {
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
  margin-left: 10px;
  width: 100px;
}

.copy {
  color: #ddd;
  margin: 0;
  padding: 30px 0 10px;
  text-align: center;
}

/* media queries */
@media (max-width: 685px) {
  h1 {
    font-size: 1.8em;
    padding: 15px 0 10px
  }

  h2 {
    font-size: 1.4em;
  }

  h3 {
    font-size: 1.15em;
  }

  .bottom {
    flex-direction: column;
    margin-right: 15px;
  }

  .middle {
    justify-content: center;
    margin: 10px 0;
    width: 100%;
  }

  #generate {
    align-self: flex-end;
    height: 65px;
  }

  .grid {
    grid: auto / 35% auto;
  }

  #outside-div {
    display: flex;
    flex-direction: column;
  }

  #inside-div {
    grid: auto auto / 70% auto;
  }

  .locale-p {
    font-size: 1.15em;
  }

  label, .results-p  {
    font-size: 1em;
  }

  .results-icon {
    margin: auto;
  }
}

@media (max-width: 500px) {
  .flex-section {
    padding: 15px;
  }

  #entry-holder {
    padding: 15px;
  }

  #show-form {
    height: 40px;
  }

  .grid {
    display: flex;
    flex-direction: column;
  }

  .center {
    align-self: center;
  }

  .spacing {
    margin: 10px 0;
  }

  #outside-div {
    display: grid;
  }

  .copy {
    padding: 14px 0;
  }

}

@media (max-width: 465px) {
  .results-icon {
    width: 75px;
  }

  .flex-section {
    padding: 10px;
  }

  .copy {
    padding: 10px 0;
  }
}

@media (max-width: 435px) {
  .top {
    display: grid;
    grid: auto auto / auto auto;
  }

  .results-icon {
    display: none;
  }

  #outside-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #outside-div .results-p {
    margin: 0 10px;
  }

  #inside-div {
    display: flex;
    flex-direction: column;
  }


}
